.body {
  display: grid;
  grid-template:  1fr / 1fr;
  border-radius: 45px;
  padding: 40px 35px;
  border: 1px solid var(--dark);
  box-shadow: 0 5px 0 0 var(--dark);
  transition: all 0.2s linear 0s;
  transform: scale(1);
}

.body:hover {
  background: var(--grey);
  transform: scale(1.01);
  box-shadow: 0 7px 0 0 var(--dark);
}

.top {
  position: relative;
  display: grid;
  grid-template: 1fr / 105px 1fr;
  align-items: end;
  column-gap: 10px;
  padding: 0 0 28px 0;
  border-bottom: 1px solid var(--black);
}

.image {}

.image svg {
  filter: drop-shadow(7px 5px 0 var(--dark));
}

.info {}

.info h4 {
  font-weight: 500;
}

.info p {}

.info a {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom {
  padding: 28px 0 0 0;
}

.bio {}

.bio p {
  line-height: 1.3;
}