.container {
  display: grid;
  overflow: hidden;
  padding: 80px 0;
}

.body {
  width: 100%;
  height: 100%;
  min-width: 0;
  overflow: visible;
  color: #fff;
}

/* Настройка Буллетов */
.body :global(.swiper-pagination) {
  position: absolute;
  bottom: 0;
}

.body :global(.swiper-pagination-bullet) {
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='-3 -3 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.0099 2.05941L14 0L11.9604 7.0099L14 14L7.0099 11.9604L0 14L2.05941 7.0099L0 0L7.0099 2.05941Z' fill='%23FFFFFF' /%3E%3C/svg%3E");
  background-size: contain;
  opacity: 1;
}

.body :global(.swiper-pagination-bullet-active) {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='-3 -3 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.0099 2.05941L14 0L11.9604 7.0099L14 14L7.0099 11.9604L0 14L2.05941 7.0099L0 0L7.0099 2.05941Z' fill='%23B9FF66' /%3E%3C/svg%3E");
  background-size: contain;
}

/* Настройка стрелочек */


  .body :global(.swiper-button-prev) {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 13.5C22.8284 13.5 23.5 12.8284 23.5 12C23.5 11.1716 22.8284 10.5 22 10.5L22 13.5ZM0.939341 10.9393C0.353554 11.5251 0.353554 12.4749 0.93934 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939341 10.9393ZM22 10.5L2 10.5L2 13.5L22 13.5L22 10.5Z' fill='white' /%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 20%;
  }
  .body :global(.swiper-button-next) {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5L2 10.5ZM23.0607 13.0607C23.6464 12.4749 23.6464 11.5251 23.0607 10.9393L13.5147 1.3934C12.9289 0.807613 11.9792 0.807613 11.3934 1.3934C10.8076 1.97919 10.8076 2.92893 11.3934 3.51472L19.8787 12L11.3934 20.4853C10.8076 21.0711 10.8076 22.0208 11.3934 22.6066C11.9792 23.1924 12.9289 23.1924 13.5147 22.6066L23.0607 13.0607ZM2 13.5L22 13.5L22 10.5L2 10.5L2 13.5Z' fill='white' /%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 20%;
  }

    .body :global(.swiper-button-next),
    .body :global(.swiper-button-prev) {
      top: 100%;
      transform: translateY(-30%);
      z-index: 100;
      
    }

  .body :global(.swiper-button-next::after), 
  .body :global(.swiper-button-prev::after) {
    display: none;
  }

/* Слайд */

.body :global(.swiper-slide) {
  transition: all 1.5s ease-in-out 0s;
}

.body :global(.swiper-slide-active) {
  transform: scale(1.1);
}

.slide {
  display: grid;
  row-gap: 45px;
  grid-template: 1fr auto / 1fr;
  padding: 0 0 100px 0;
}

.comment {
  position: relative;
  border: 1px solid var(--green);
  padding: 25px;
  border-radius: 45px;
}

.comment p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: calc(30px - 1px) solid transparent;
  border-right: calc(30px - 1px) solid transparent;
  border-top: 30px solid var(--green);
  /* Высота треугольника */
  position: absolute;
  bottom: -29px;
  left: 40px;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -28.5px;
  width: 0;
  height: 0;
  border-left: calc(29px) solid transparent;
    border-right: calc(29px) solid transparent;
    border-top: 30px solid var(--dark);
    /* Высота треугольника */
}

.name {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 0 0 68px;
}

.name h4 {
  font-weight: 500;
  color: var(--green);
}

.name p {}

@media (max-width: 767px) {
    .body :global(.swiper-slide-active) {
        transform: scale(1.05);
      }
}

@media (max-width: 424px) {
  .container {
    padding: 30px 0;
  }
  .comment {
    padding: 25px 5px;
  }
  .body :global(.swiper-button-prev) {
    left: 10%;
  }
  .body :global(.swiper-button-next) {
    right: 10%;
  }

  .body :global(.swiper-slide-active) {
  transform: scale(1);
  }
}

