.body {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  padding: 70px 0;
}

.top {
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 20px;
  align-items: center;
}

.top h2 {}

.top p {
  max-width: 500px;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 360px));
  justify-content: center;
  gap: 20px;
  padding: 80px 0 40px 0;
}

.button {
  display: grid;
  grid-template: 68px / minmax(auto, 269px);
  justify-content: end;
}

.button button {
  border-radius: 14px;
  background: var(--dark);
  color: #fff;
  transition: all 0.3s linear 0s;
}

.button button:hover {
  box-shadow: 0 0 10px var(--dark);
}

@media (max-width: 771px) {
    .button {
      justify-content: center;
    }
}

@media (max-width: 424px) {
  .top {
      grid-template: auto 1fr / 1fr;
    }
  
    .top h2 {
      margin: 0 auto;
    }
  
    .top p {
      text-align: center;
    }
}